@import '../../scss/variables';
@import '../../scss/mixins';

.search-results-main {
  padding: 2.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(28rem, 28rem));
  justify-content: center;
  gap: 2.5rem;

  &__result-summary {
    color: $primary;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2.5rem;
  }

  & > [class*='food-card-main'] {
    margin-bottom: 0;
  }
}
