@import '../../scss/variables';
@import '../../scss/mixins';

.food-card-main {
  width: 100%;
  height: auto;
  scroll-snap-align: start;

  &__item {
    width: 100%;
    padding: 0.75rem 0.75rem 1rem;
    box-shadow: 0 2px 10px rgba($black, 0.15);
    @include bg($white);

    &__img {
      width: 100%;
      aspect-ratio: 16/10;
      margin-bottom: 1.8rem;
      @include bg-cover-center();
    }

    &__info {
      @include flex-col();
      gap: 0.55rem;
      margin-bottom: 1.8rem;

      &__name-and-price {
        width: 100%;
        @include flex-row(space-between, flex-start);

        &__name {
          display: inline-block;
          font-size: 1.35rem;
          font-weight: 500;
        }

        &__price {
          display: inline-block;
          font-size: 1.65rem;
          color: $primary;
          font-weight: 600;
          padding-right: 0.5rem;
        }
      }

      &__category {
        font-size: 1.2rem;
        color: $lightText;
      }

      &__bottom-info {
        @include flex-row(_, center);
        gap: 0.75rem;

        & > p {
          @include bg($lightShade);
          padding: 0.5rem 0.8rem;
          font-size: 1.2rem;
        }

        &__rating-container {
          @include flex-row(_, center);
          gap: 0.2rem;

          &__rating-star {
            height: 1.1rem;
            filter: $filterGold !important;
          }

          &__rating-count {
            color: $lightText;
          }
        }
      }
    }

    &__button {
      width: 100% !important;
      @include ovalbr;
      @include primary-gradient;
      @include flex-row-center;
    }
  }
}
