@import '../../scss/variables';
@import '../../scss/mixins';

.horizontal-scroll-gallery {
  width: 100%;

  ::-webkit-scrollbar-thumb {
    border-radius: 100rem;
    background-color: $primary;
  }

  ::-webkit-scrollbar-track {
    background-color: $lightShade;
    margin-inline: 2.5rem;
  }

  ::-webkit-scrollbar {
    height: 0.6rem;
  }

  &__scroller {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 70%;
    gap: 2rem;
    overflow-x: auto;
    padding: 0.75rem 2.5rem;
    scroll-snap-type: x mandatory;
    scroll-padding-inline: 2.5rem;
    overscroll-behavior-inline: contain;

    &__gallery-item {
      margin-bottom: 2.25rem;
      height: auto;
    }
  }
}

@include mediaMin(31em) {
  .horizontal-scroll-gallery {
    &__scroller {
      grid-auto-columns: 70%;
    }
  }
}

@include mediaMin(37em) {
  .horizontal-scroll-gallery {
    &__scroller {
      grid-auto-columns: 55%;
    }
  }
}

@include mediaMin(45em) {
  .horizontal-scroll-gallery {
    &__scroller {
      grid-auto-columns: 26.5rem;
    }
  }
}

@include mediaMin(50em) {
  .horizontal-scroll-gallery {
    &__scroller {
      grid-auto-columns: 31.5%;
    }
  }
}
