@import '../../scss/variables';
@import '../../scss/mixins';

.horizontal-scroll-gallery {
  width: 100%;

  ::-webkit-scrollbar-thumb {
    border-radius: 100rem;
    background-color: $primary;
  }

  ::-webkit-scrollbar-track {
    background-color: $lightShade;
    margin-inline: 2.5rem;
  }

  ::-webkit-scrollbar {
    height: 0.6rem;
  }

  &__scroller {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 90%;
    gap: 1rem;
    overflow-x: auto;
    padding: 0.75rem 2.5rem;
    scroll-snap-type: x mandatory;
    scroll-padding-inline: 2.5rem;
    overscroll-behavior-inline: contain;
  }
}
