@import "../../scss/variables";
@import "../../scss/mixins";

.hamburger-menu-container {
  @include flex-col(space-around, center);
  width: 2.5rem;
  @include squarebox;
  position: relative;

  &__menu-bar,
  &::before,
  &::after {
    width: 100%;
    height: 2px;
    transition: $basic;
    @include bg($primary);
  }

  &::before,
  &::after {
    @include pseudo-reset();
    position: absolute;
    left: 0;
  }

  &::before {
    top: 15%;
  }

  &::after {
    bottom: 15%;
  }
}

.menu-active {
  div[class*="menu-bar"] {
    transform: scale(0);
  }

  &::before,
  &::after {
    top: 50%;
    transform: translateY(-50%);
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
