@import '../../scss/variables';
@import '../../scss/mixins';

.section-title-box {
  display: block;
  @include flex-row-center();

  &__section-title {
    font-size: 3rem;
    font-weight: 600;
    color: $primary;
    letter-spacing: 0.05rem;
    text-transform: capitalize;
    padding-bottom: 2rem;
    position: relative;

    &::before {
      @include pseudo-reset();
      width: 30%;
      height: 0.3rem;
      @include bg($primary);
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
    }
  }
}

@include mediaMin(37em) {
  .section-title-box {
    @include flex-row(center);

    &__section-title {
      font-size: 3rem;
    }
  }
}

@include mediaMin(48em) {
  .section-title-box {
    margin-bottom: 3rem;
    &__section-title {
      font-size: 3rem !important;
    }
  }
}

@include mediaMin(64em) {
  .section-title-box {
    margin-bottom: 4rem !important;

    &__section-title {
      font-size: 4rem !important;
    }
  }
}

// @media (max-width: 48em) {
//   //768px
//   .section-title {
//     margin-bottom: 1.8rem;
//     text-align: center;
//   }
// }

// @media (max-width: 30em) {
//   //480px
//   .section-title {
//     font-size: 2.3rem;
//   }
// }

// @media (max-width: 23em) {
//   //360px
//   .section-title {
//     font-size: 2.2rem;
//   }
// }
