@import '../../scss/variables';
@import '../../scss/mixins';

.button-main {
  width: max-content;
  @include box-shadow-buttons();
  @include no-flow;

  &__button {
    @include button-reset();
    color: $white;
    font-size: 1.5rem;
    padding: $buttonPadding;
    @include bg($primary);
    @include same-size;
    transition: $basic;

    &:active {
      @include bg($primaryLight);
    }
  }
}

@include mediaMin(64em) {
  .button-main {
    &__button {
      @include link-alt {
        @include bg($primaryLight);
      }
    }
  }
}
