@import '../../scss/variables';
@import '../../scss/mixins';

.mobile-navigation-menu-main {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 3;
  overflow-y: auto;
  transform: translateX(-100%);
  opacity: 0;
  @include bg-trans($primary);
  @include bg-blur(6px);
  transition: transform 0.2s ease-out 0.4s, opacity 0.2s ease-out 0.4s; // so that when closing the menu the main containing div has 2s of delay, otherwise the sequential animations can't be seen

  &__options-list {
    @include flex-col(_, center);

    // increase padding top, top of the menu looks nice
    & > :first-child {
      padding-top: 4rem;
    }

    li:last-child {
      &::before {
        content: none;
      }
    }

    li {
      width: 100%;
      @include flex-row-center;
      transform: translateX(-100%);
      opacity: 0;
      padding: 2rem 0;

      &::before {
        @include pseudo-underline(3rem, 1px, $white);
      }

      a {
        @include link-normal {
          color: $white;
          font-size: 1.75rem;
        }
      }
    }
  }
}

.menu-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 0s; // So that at first the containing div animates without delay, and individual list item animations can be seen as planned one after another

  li {
    transform: translateX(0);
    opacity: 1;
  }
}
