@import '../../scss/variables';
@import '../../scss/mixins';

.link-button-main {
  display: block;
  width: max-content;
  @include box-shadow-buttons();
  border-radius: 100rem;
  @include no-flow;

  a {
    @include link-normal {
      @include same-size;
      padding: $buttonPadding;
      @include bg($primary);
      color: $white;
      transition: $basic;
    }

    &:active {
      @include bg($primaryLight);
    }
  }
}

@include mediaMin(64em) {
  .link-button-main {
    a {
      @include link-alt {
        @include bg($primaryLight);
      }
    }
  }
}
