@import '../../scss/variables';
@import '../../scss/mixins';

.link-button-main {
  display: block;
  width: max-content;
  transition: $basic;
  @include box-shadow-buttons();
  border-radius: 100rem;
  @include bg($primary);
  padding: $buttonPadding;

  a {
    @include link-normal {
      color: $white;
    }

    &:active {
      @include bg($primaryLight);
    }
  }
}
