@import '../../scss/variables';
@import '../../scss/mixins';

.hero-main {
  position: relative;
  @include same-size;

  &__hero-image {
    @include same-size;
  }

  &__heading-description-button-main {
    position: absolute;
    top: 47.5%;
    left: 0;
    @include bg-trans($black, 0.65);
    @include bg-blur(2px);
    border-top-right-radius: 100rem;
    border-bottom-right-radius: 100rem;
    width: 65%;
    padding: 2.5rem;

    [class*='short-introduction'] {
      color: $primaryLight;
    }

    [class*='__heading'] {
      color: $white;
      margin-bottom: 1.5rem;
    }
  }
}

@include mediaMin(31em) {
  .hero-main {
    &__heading-description-button-main {
      width: 52.5%;
    }
  }
}

@include mediaMin(37em) {
  .hero-main {
    &__heading-description-button-main {
      width: 47%;

      [class*='short-introduction'] {
        font-size: 2.1rem;
      }

      [class*='__heading'] {
        font-size: 2.75rem;
      }
    }
  }
}

@include mediaMin(45em) {
  .hero-main {
    &__heading-description-button-main {
      width: 47%;

      [class*='short-introduction'] {
        font-size: 2.5rem;
      }

      [class*='__heading'] {
        font-size: 3.5rem;
      }
    }
  }
}
