@import '../../scss/variables';
@import '../../scss/mixins';

.image-description-button-main {
  width: 100%;
  color: $white;

  &__image-main {
    margin-bottom: 1.5rem;
    box-shadow: 0 0 1rem rgba($black, 0.2);
    border-radius: 3rem;
    @include no-flow();
    width: 100%;

    img {
      @include same-size();
    }
  }

  &__plain-description-main {
    padding: 2.5rem;
    color: inherit;
    @include bg($primary);
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;

    p {
      font-weight: 400;
      line-height: 1.5;
    }
  }
}
