@import '../../scss/variables';
@import '../../scss/mixins';

.image-description-button-main {
  width: 100%;
  color: $white;
  border-radius: 3rem;
  @include no-flow();
  box-shadow: 0 0 1.5rem rgba($black, 0.15);
  border-radius: 2rem;

  &__image-main {
    width: 100%;

    img {
      @include same-size();
    }
  }

  &__plain-description-main {
    padding: 1.8rem 1.5rem;
    color: inherit;
    @include bg($primary);

    p {
      font-weight: 400;
      line-height: 1.5;
    }
  }
}
