@import '../../scss/variables';
@import '../../scss/mixins';

.tertiary-heading-main {
  @include flex-row(_, center);
  gap: 0.75rem;
  margin-bottom: 2.5rem;
  text-align: center;

  &__heading {
    font-weight: 600;
    color: $primary;
    font-size: 2rem;
    text-transform: capitalize;
  }

  &__image {
    height: 2.5rem;
  }
}

@include mediaMin(64em) {
  .tertiary-heading-main {
    &__heading {
      font-size: 2.2rem;
    }
  }
}
