@import '../../scss/variables';
@import '../../scss/mixins';

.rating-stars-main {
  @include flex-row();
  gap: 1rem;

  img {
    width: auto;
    height: 1.5rem;
  }
}

.gold-filter {
  filter: $filterGold !important;
}
