@import '../../scss/variables';
@import '../../scss/mixins';

.image-link-button-main {
  display: block;
  width: 3rem;
  aspect-ratio: 16/16;
  transition: $basic;

  &:hover {
    background-color: $white;
  }

  &__link {
    &:link,
    &:visited {
      @include link-reset();
      width: 100%;
      height: 100%;
      @include bg-cover-center();
      filter: $filterWhite;
    }
  }
}
