@import '../../scss/variables';
@import '../../scss/mixins';

.mobile-header-main {
  @include flex-row(space-between, center);
  @include bg-trans($black, 0.8);
  padding: 2rem 2.5rem;
  position: fixed;
  max-width: 140rem;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  transition: $basic;
  @include bg-blur(3px);
  box-shadow: 0 2px 10px rgba($black, 0.1);

  &__buttons {
    @include flex-row(_, center);
    gap: 1.15rem;
  }
}

@include mediaMin(48em) {
  .mobile-header-main {
    position: sticky;
    @include bg-trans($white, 0.8);
  }
}
