.shopping-cart-main {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  z-index: 1;
  background-color: #fff;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  padding: 2.5rem;
  overflow: auto; }
  .shopping-cart-main__empty-cart-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 4rem;
    margin-bottom: 2.5rem; }
    .shopping-cart-main__empty-cart-image img {
      width: auto;
      height: 17rem; }
  .shopping-cart-main__empty-cart-message {
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 5rem; }
  .shopping-cart-main__empty-cart-button {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .shopping-cart-main__heading-and-button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1rem 0 4rem; }
    .shopping-cart-main__heading-and-button-container__heading {
      margin-bottom: 0; }
      .shopping-cart-main__heading-and-button-container__heading h3 {
        color: #1b1b1b;
        font-size: 2rem;
        font-weight: 400;
        text-align: left; }
    .shopping-cart-main__heading-and-button-container__button {
      background-color: transparent;
      -webkit-box-shadow: none;
              box-shadow: none; }
      .shopping-cart-main__heading-and-button-container__button button {
        color: #e23d28;
        padding: 0; }
  .shopping-cart-main__items-headings {
    display: grid;
    grid-template-columns: 2.5fr 0.5fr 1fr;
    justify-items: center;
    margin-bottom: 2rem; }
    .shopping-cart-main__items-headings > * {
      width: 100%;
      font-size: 1.3rem;
      font-weight: 600; }
    .shopping-cart-main__items-headings > :nth-child(2) {
      text-align: center; }
    .shopping-cart-main__items-headings > :nth-child(3) {
      text-align: right; }
  .shopping-cart-main__list-of-items {
    margin-bottom: 2rem; }
    .shopping-cart-main__list-of-items li {
      display: block;
      margin-bottom: 1.5rem; }
    .shopping-cart-main__list-of-items > li:last-child {
      margin-bottom: 0; }
  .shopping-cart-main__horizontal-line {
    margin-bottom: 2rem; }
  .shopping-cart-main__shopping-expenses {
    margin-bottom: 4rem; }
  .shopping-cart-main__order-button {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 100rem; }

.not-active {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0; }

.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1; }

/*# sourceMappingURL=ShoppingCart.module.css.map */