@import '../../scss/variables';
@import '../../scss/mixins';

.menu-category-section-main {
  padding: 0 2.5rem;

  &__section-title {
    margin-bottom: 4rem;
  }

  &__category-container {
    width: 100%;
    @include flex-col;
    gap: 3rem;
  }
}
