@import '../../scss/variables';
@import '../../scss/mixins';

.menu-category-section-main {
  padding: 0 2.5rem;
  margin-bottom: 5rem;

  &__section-title {
    margin-bottom: 3rem;
  }

  &__category-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    column-gap: 1.5rem;
    row-gap: 2rem;
  }
}

@include mediaMin(62em) {
  .menu-category-section-main {
    margin-bottom: 7.5rem;

    &__section-title {
      margin-bottom: 4rem;
    }

    &__category-container {
      width: 80%;
      margin: 0 auto;

      &__image-link-main {
        [class*='heading'] {
          h3 {
            width: 100%;
            text-align: center;
            font-size: 1.65rem;
          }
        }
      }
    }
  }
}

@include mediaMin(75em) {
  .menu-category-section-main {
    &__category-container {
      grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    }
  }
}
