@import '../../scss/variables';
@import '../../scss/mixins';

.menu-category-section-main {
  padding: 0 2.5rem;
  margin-bottom: 3rem;

  &__section-title {
    margin-bottom: 3rem;
  }

  &__category-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    column-gap: 1.5rem;
    row-gap: 2rem;
  }
}
