@import '../../scss/variables';
@import '../../scss/mixins';

.shopping-cart-button-main {
  position: relative;
  &__button {
    @include flex-row(_, center);
    gap: 1rem;
  }

  &__notification {
    position: absolute;
    top: -1.25rem;
    right: -0.65rem;
    width: 2.3rem;
    @include squarebox;
    @include bg($primaryLight);
    border-radius: 50%;
    color: $white;
    @include flex-row-center;
    font-size: 1.2rem;
  }
}
