@import '../../scss/variables';
@import '../../scss/mixins';

.search-window-main {
  @include fixed-layer;
  z-index: 3;
  @include bg($white);
  padding-top: 3.5rem;
  opacity: 0;
  transform: translateY(-100%);
  transition: $basic;
  overflow-y: auto;
}

.search-active {
  opacity: 1;
  transform: translateY(0);
}
