@import '../../scss/variables';
@import '../../scss/mixins';

//390px styles are default
.brand-name-main {
  @include flex-row(_, center);
  gap: 0.5rem;

  &__link {
    &:link,
    &:visited {
      color: $primary;
      font-size: 2.2rem;
      font-weight: 400;
      transition: $basic;
      text-transform: lowercase;
    }
  }

  &__image {
    height: 2.2rem;
  }
}

@media (min-width: 60em) {
  .brand-name-main {
    &__link {
      &:link,
      &:visited {
        color: $darkText;
        font-size: 2.2rem;
        font-weight: 500;
      }
    }
  }
}
