@import '../../scss/variables';
@import '../../scss/mixins';

.copyright-info-main {
  text-align: center;
  &__copyright-info--details {
    color: $white;
    font-size: 1.2rem;
  }
}

@include mediaMax(24em) {
  .copyright-info-main {
    text-align: center;
    &__copyright-info--details {
      font-size: 1.15rem;
      line-height: 1.5;
    }
  }
}

@include mediaMin(62em) {
  .copyright-info-main {
    &__copyright-info--details {
      font-size: 1.3rem;
    }
  }
}
