@import '../../../scss/variables';
@import '../../../scss/mixin';

.minus-button-main {
  width: max-content;

  &__button {
    @include button-reset();
    @include flex-align-center();
    gap: 0.5rem;
    font-size: 2.5rem;
    color: $white;

    &__minus-icon {
      @include bg-color(transparent);

      img {
        height: 2rem;
      }
    }
  }
}
