@import '../../scss/variables';
@import '../../scss/mixins';

.how-it-works-section-main {
  height: 100%;
  padding: 0 2.5rem;

  &__section-title {
    margin-bottom: 2rem;
  }

  &__top-plain-description {
    text-align: center;
    margin-bottom: 3.5rem;

    p {
      font-size: 1.8rem;
    }
  }

  &__how-it-works-list {
    list-style-type: none;
    @include flex-col();
    gap: 6rem;
    margin-bottom: 6rem;

    &__item-number {
      font-size: 4.25rem;
      font-weight: 600;
      text-align: center;
      width: 7rem;
      @include squarebox();
      border-radius: 50%;
      @include flex-row(center, center);
      // @include bg($primary);
      color: $primary;
      margin: 0 auto;
      margin-bottom: 2rem !important;
      @include border-all-sides($primary, 2px);
    }
  }

  &__order-button {
    margin: 0 auto !important ;
  }
}
