@import '../../scss/variables';
@import '../../scss/mixins';

.review-section-main {
  padding: 0 2.5rem;

  &__section-title {
    margin-bottom: 6rem;
    text-align: center;
    margin-inline: auto !important;
  }

  &__all-reviews {
    list-style-type: none;
    @include flex-col();
    gap: 6rem;
  }
}
