@import '../scss/variables';
@import '../scss/mixins';

.section-margin {
  margin-bottom: 10rem !important;
}

@include mediaMin(48em) {
  .section-margin {
    margin-bottom: 20rem !important;
  }
}

.primary-highlight {
  color: $primary;
  text-transform: uppercase;
}

.scroll-offset {
  scroll-margin-top: 10rem;
}

.data-not-load-error-message {
  text-align: center;
  font-size: 1.5rem;
}
