.testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  gap: 1.25rem; }
  .testimonial__img {
    -ms-flex-preferred-size: 38%;
        flex-basis: 38%;
    aspect-ratio: 16/28;
    background-position: 50% 50% !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    -ms-flex-negative: 0 !important;
        flex-shrink: 0 !important;
    border-radius: 3rem; }
  .testimonial__text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: _;
        -ms-flex-pack: _;
            justify-content: _;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
    .testimonial__text-container__one-liner {
      font-size: 1.9rem;
      font-weight: 500;
      color: #1b1b1b;
      padding-right: 1rem;
      margin-bottom: 0.7rem; }
    .testimonial__text-container__rating {
      margin-bottom: 2rem; }
    .testimonial__text-container__full-review-and-reviewer-name {
      background-color: #e23d28;
      border-radius: 3rem;
      color: #fff;
      padding: 1rem;
      padding-bottom: 1.5rem; }
      .testimonial__text-container__full-review-and-reviewer-name__quotation-marks {
        width: auto;
        height: 3.5rem;
        -webkit-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(245deg) brightness(101%) contrast(103%);
                filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(245deg) brightness(101%) contrast(103%);
        -webkit-transform: translateX(-1.2rem) translateY(-0.25rem);
                transform: translateX(-1.2rem) translateY(-0.25rem); }
      .testimonial__text-container__full-review-and-reviewer-name__full-review {
        font-size: 1.25rem;
        width: 100%;
        line-height: 1.5;
        padding-left: 0.25rem;
        margin-bottom: 1.5rem; }
      .testimonial__text-container__full-review-and-reviewer-name__reviewer-name {
        font-size: 1.3rem;
        font-weight: 400;
        margin-left: auto; }

.reverse-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal; }
  .reverse-style > div[class*='__text-container'] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: _;
        -ms-flex-pack: _;
            justify-content: _;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }

@media (min-width: 62em) {
  .testimonial__text-container__full-review-and-reviewer-name {
    padding: 1.5rem;
    padding-top: 1.2rem; }
    .testimonial__text-container__full-review-and-reviewer-name__full-review {
      font-size: 1.3rem; }
    .testimonial__text-container__full-review-and-reviewer-name__reviewer-name {
      font-size: 1.4rem;
      font-weight: 600; } }
@media (min-width: 75em) {
  .testimonial {
    gap: 2rem; }
    .testimonial__text-container__one-liner {
      font-size: 2.2rem;
      margin-bottom: 0.8rem; }
    .testimonial__text-container__rating img {
      height: 1.75rem; }
    .testimonial__text-container__full-review-and-reviewer-name {
      padding: 1.75rem;
      padding-top: 1.4rem; } }
/*# sourceMappingURL=Testimonial.module.css.map */