@import '../../scss/variables';
@import '../../scss/mixins';

@keyframes upperCircle {
  0% {
    transform: scale(1) translate(50%, -50%);
  }

  50% {
    transform: scale(0.9) translate(50%, -50%);
  }

  100% {
    transform: scale(1) translate(50%, -50%);
  }
}

@keyframes lowerCircle {
  0% {
    transform: scale(0.9) translate(-50%, 50%);
  }

  50% {
    transform: scale(1) translate(-50%, 50%);
  }

  100% {
    transform: scale(0.9) translate(-50%, 50%);
  }
}

.wide-hero-section-main {
  width: 100%;
  height: 55rem;
  @include bg($lightShade);
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  border-bottom-right-radius: 5rem;
  @include no-flow;
  position: relative;

  &__whole-background {
    position: absolute;
    @include same-size;
    top: 0;
    left: 0;
    @include bg-cover-center;
    opacity: 0.175;
    filter: blur(4px);
  }

  &__text-container {
    @include flex-row-center;
    position: relative;
    z-index: 1;
    padding-left: 2.5rem;

    &__heading-description-button-main {
      & > [class*='short-introduction'] {
        color: $primary !important;
      }
    }
  }

  &__carousel-container {
    @include flex-row-center;

    &__carousel {
      width: 34rem;
      aspect-ratio: 16/12;
      position: relative;
      z-index: 1;

      [class*='img'] {
        @include border-radius(5rem, 0.5rem, 5rem, 0.5rem);
        box-shadow: 0 1.5rem 3rem rgba($black, 0.25);
      }

      &::before {
        position: absolute;
        @include pseudo-reset;
        width: 5rem;
        aspect-ratio: 1/1;
        @include bg($primary);
        border-radius: 50%;
        top: 0;
        right: 0;
        animation: upperCircle 5s ease-in-out infinite backwards;
      }

      &::after {
        position: absolute;
        @include pseudo-reset;
        width: 10rem;
        aspect-ratio: 1/1;
        background-color: $primary;
        border-radius: 50%;
        bottom: 0;
        left: 0;
        transform: translate(-50%, 50%);
        z-index: -1;
        animation: lowerCircle 5s ease-in-out infinite backwards;
      }
    }
  }
}

@include mediaMin(62em) {
  .wide-hero-section-main {
    height: 60rem;
    &__text-container {
      &__heading-description-button-main {
        & > [class*='short-introduction'] {
          font-size: 2rem;
          margin-bottom: 1.2rem;
        }

        & > [class*='__heading'] {
          font-size: 3rem;
          margin-bottom: 1.5rem;
        }
      }
    }

    &__carousel-container {
      &__carousel {
        width: 42.5rem;
      }
    }
  }
}

@include mediaMin(65em) {
  .wide-hero-section-main {
    &__text-container {
      padding-left: 10rem;
      &__heading-description-button-main {
        transform: translate(0);

        & > [class*='short-introduction'] {
          font-size: 2.5rem;
        }

        & > [class*='__heading'] {
          font-size: 4rem;
        }
      }
    }

    &__carousel-container {
      &__carousel {
        width: 46rem;
        transform: translate(0);
      }
    }
  }
}

@include mediaMin(81em) {
  .wide-hero-section-main {
    &__carousel-container {
      &__carousel {
        width: 50rem;
      }
    }
  }
}
