@import '../../scss/variables';
@import '../../scss/mixins';

.mobile-searchbar-main {
  @include primary-gradient();

  &__form {
    &__label {
      width: fit-content;
      border-radius: 100rem;
      @include no-flow;
      margin: 2.5rem auto 0;
      @include flex-row(center, center);
      gap: 0.5rem;
      @include bg($white);

      &__search-icon-container {
        height: 3rem;

        img {
          padding-left: 0.5rem;
        }
      }

      &__input {
        height: 3rem;
        border: none;
        font-family: inherit;

        &::placeholder {
          color: $primary;
          font-family: inherit;
          font-weight: 500;
        }
      }
    }
  }
}

.expand {
  position: fixed;
  top: 0;
  right: 0;
  min-width: 100%;
  height: 100vh;
  overflow-y: auto;
  background-color: $white;
  padding-top: 3rem;
  padding-inline: 2rem;
  transition: min-width 0.15s ease-out;
  gap: 1rem;
  z-index: 1000;

  .form-searchbar {
    margin-right: 0;
    transition: margin 0.25s;

    &__label {
      background-color: $lightShade;
      gap: 1rem;

      &__input {
        min-width: fit-content;
        flex-grow: 1 !important;
      }
    }
  }

  .close-button {
    transform: scale(1, 1);
    transition: transform 0.2s 0.2s;
  }
}

.close-button {
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  padding: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: inherit;
  transform-origin: center;
  transform: scale(0, 0);
  transition: transform 0s;
}
