@import '../../scss/variables';
@import '../../scss/mixins';

.only-design-div {
  padding: 0rem 0;
  @include flex-row(flex-end, center);
  margin-block: 10rem;

  &__core {
    width: 80%;
    height: 20rem;
    @include primary-gradient;
    border-top-left-radius: 10rem;
  }
}

@include mediaMin(48em) {
  .only-design-div {
    padding: 0rem 0;
    @include flex-row(center, center);
    margin-block: 10rem;
  }
}
