//color
$primary: #e23d28;
$primaryLight: lighten($primary, 5%);
$primaryDark: darken($primary, 5%);

$filterPrimary: invert(26%) sepia(29%) saturate(7011%) hue-rotate(352deg)
  brightness(97%) contrast(83%);

$primaryTrans: rgba($primary, 0.9);
$primaryLightTrans: rgba($primaryLight, 0.9);

$darkText: #1b1b1b;
$filterDarkText: invert(0%) sepia(3%) saturate(1243%) hue-rotate(323deg)
  brightness(101%) contrast(79%);

$lightShade: #f3f3f7;
$darkShade: #ff7538;

$white: #fff;
$filterWhite: invert(100%) sepia(0%) saturate(0%) hue-rotate(245deg)
  brightness(101%) contrast(103%);

$black: #000;
$backdropColor: rgba(17, 17, 17, 0.36);
$gray: darken($white, 50%);

$success: #008000;
$error: #d40000;

$formBackground: rgba($darkText, 0.85);
$transHover: rgba($darkShade, 0.25);

//margins and paddings
$sectionMargin: 15rem;
$buttonPadding: 1.7rem;

//font family
$poppins: "Poppins", sans-serif;

//animation
$basic: all 0.2s ease-out;
$sectionBasic: all 0.8s ease-out;
$fade: fadeIn 0.75s ease-out;
$moveFromright: moveFromRight 0.75s ease-out;

//box shadow
$test: 1px solid black;
